body{
    font-family: Verdana, Helvetica, Arial, sans-serif;
    background-image:url(../Image/fon1.jpg);   
}
h1{
    margin: 10px 30%; 
}
h2{
    margin: 10px 33%; 
}
h3{
    margin: 10px 20%; 
}
h4{
    margin: 10px 37%;
    
}
p{
    padding-left: 10px;
    padding-right: 10px;
}
.div1{    
    width: 50%;
    min-height: 150px;
    float: left;
}
.div2{    
    width: 50%;
    min-height: 150px;
    margin-left: 50%;
}